.container{
	margin-bottom: 40px;
}
.mp3-details{
	height: 35px;
	background-color: #f9f9f9;
	text-align: center;
}

.mp3-details i{
	font-size: 30px;
	color: #666666;
	padding: 3px;
}

.mp3-details span{
	font-size: 30px;
	color: #666666;
	padding: 3px;
}

.mp3-details i{
	font-size: 40px;
	color: #666666;
	padding: 3px;
}
.mp3-details a{
	text-decoration: none;
}

ul li span { 
	float: left;
	width: 60px;
	font-weight: bold;
    font-size: 14px;
}